<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model View Controller</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <li>
                <a href="/tasks">Lista de Tarefas</a>
                <a href="/tasks/new">Criar Tarefa</a>
            </li>
        </ul>
    </nav>
    {{{body}}}

</body>

</html>